<%
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end
%>
<html>
  <body>
    <h1>The Pwnage</h1>
    <p>
      <h3>Things that pwn</h3>
      <p>Stuff and stuffage</p>
      <%= link_to('Asta La Vista', 'http://www.astalavista.net') %>
    </p>
    <hr />
    <% if @request.query['first_name'] %>
      Hi <%= @request.query['first_name'] %>
    <% else %>
      Enter your names
    <% end %>
    <form method='post' action="<%= @request.path %>">
        First name: <input type="text" name="first_name" placeholder='first name'/><br />
        <input type="submit" value="Submit" />
    </form>
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>Put things in the footer</p>
      <%= link_to('Ultima Online', 'http://www.ultimaforever.com') %>
    </div>
  </body>
</html>
